.navBar {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  color: #fffbff;
}

.active {
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #bb566c69 !important;
}

.pending {
  background-color: #ea708b69 !important;
}
