html {
  background-color: rgb(220, 189, 189);
}

.heading {
  min-width: 100%;
  min-height: 100px;
  background-color: red !important;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.pageContent {
  min-width: 100%;
  min-height: 100;
  border-radius: 15px;
  background-color: rgb(229, 229, 229);
}

@media (max-width: 975px) {
  .bannerGallery {
    flex-direction: column;
  }
}
