:root {
  --crimson: #b90019;
  --space-cadet: #2B2D42;
  --battleship-gray: #6B778C;
  --gray-white: #dfdede;
  --turkey-red: #A40B0B;
}

html {
  background-color: var(--gray-white);
}

.heading {
  min-width: 100%;
  min-height: 100px;
  background-color: var(--crimson) !important;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.pageContent {
  min-width: 100%;
  min-height: 100;
  border-radius: 15px;
  background-color: rgb(229, 229, 229);
}

@media (max-width: 975px) {
  .bannerGallery {
    flex-direction: column;
  }
}
